.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: orange;
}

.bg-7 {
  background-color: aqua;
}

.bg-8 {
  background-color: bisque;
}

.bg-9 {
  background-color: black;
}

.bg-10 {
  background-color: chartreuse;
}

.bg-11 {
  background-color: coral;
}

.bg-12 {
  background-color: crimson;
}

.bg-13 {
  background-color: darkgoldenrod;
}

.bg-14 {
  background-color: darkmagenta;
}

.container {
  display: flex;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: 600px;
  height: 600px;
}

/* Task 1 */

.task1 {
  flex-wrap: wrap;
}

.task1 .child {
  height: 200px;
}

.task1 .bigger {
  width: 400px;
}

.task1 .smaller {
  width: 200px;
}

/* Task 2 */

.task2 {
  flex-direction: column;
  flex-wrap: wrap;
}

.task2 .child {
  width: 200px;
}

.task2 .smaller {
  height: 200px;
}

.task2 .bigger {
  height: 400px;
}

/* task 3 */

.task3 {
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.task3 .child {
  height: 200px;
}

.task3 .biggerchild {
  height: 400px;
}

.task3 .smaller {
  width: 200px;
}

.task3 .bigger {
  width: 400px;
}

/* Task 4 */

.task4 {
  flex-wrap: wrap;
}

.task4 .child {
  height: 150px;
}

.task4.biggerchild {
  height: 300px;
}

.task4 .smaller {
  width: 120px;
}

.task4 .bigger {
  width: 240px;
}

.task4 .smaller2 {
  width: 150px;
}

.task4 .bigger2 {
  width: 300px;
}

/* Task 5 */

.task5 {
  flex-wrap: wrap;
}

.task5 .child {
  height: 100px;
}

.task5 .biggerchild {
  height: 200px;
}

.task5 .smaller {
  width: 100px;
}

.task5 .bigger {
  width: 200px;
}

.task5 .bigger2 {
  width: 400px;
}

/* Task 6 */

.task6 {
  flex-wrap: wrap;
}

.task6-2 {
  display: flex;
  flex-direction: column;
}
.task6-3 {
  display: flex;
  flex-direction: row;
}

.task6 .child {
  width: 100px;
}

.task6 .biggerchild {
  width: 600px;
}

.task6 .smaller {
  height: 150px;
}

.task6 .bigger {
  height: 200px;
}

.task6 .bigger2 {
  height: 300px;
}

.task6 .medium {
  width: 200px;
}

/* Task7 */

.task7 {
  flex-wrap: wrap;
}

.task7-1 {
  display: flex;
  flex-direction: column;
}

.task7 .biggerchild {
  width: 450px;
}

.task7 .bigger2 {
  height: 300px;
}

.task7 .child {
  width: 150px;
}

.task7 .smaller {
  height: 150px;
}

/* Task8 */

.task8 {
  flex-wrap: wrap;
}

.task8-1 {
  display: flex;
  flex-direction: column;
}

.task8 .biggerchild {
  width: 600px;
}

.task8 .bigger2 {
  height: 300px;
}

.task8 .child {
  width: 200px;
}

.task8 .smaller {
  height: 150px;
}

/* Task9 */

.task9 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.task9-1 {
  display: flex;
  flex-direction: row;
}

.task9 .child {
  width: 120px;
}

.task9 .child2 {
  width: 240px;
}

.task9 .child3 {
  width: 360px;
}

.task9 .smaller {
  height: 100px;
}

.task9 .medium {
  height: 200px;
}

.task9 .bigger {
  height: 300px;
}

/* Task10 */

.task10 {
  flex-wrap: wrap;
}

.task10-1 {
  display: flex;
  flex-direction: column;
}

.task10 .child {
  width: 100px;
}

.task10 .child2 {
  width: 200px;
}

.task10 .child3 {
  width: 300px;
}

.task10 .smaller {
  height: 100px;
}

.task10 .medium {
  height: 200px;
}

.task10 .bigger {
  height: 300px;
}

/* Task11 */

.task11 {
  flex-wrap: wrap;
}

.task11-1 {
  display: flex;
  flex-direction: column;
}

.task11 .child {
  width: 120px;
}

.task11 .child2 {
  width: 600px;
}

.task11 .smaller {
  height: 100px;
}

.task11 .bigger {
  height: 500px;
}

/* Task12 */

.task12 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.task12 .child {
  width: 120px;
}

.task12 .bigger {
  height: 600px;
}

/* Task13 */

.task13 {
  flex-wrap: wrap;
}

.task13 .child {
  width: 600px;
}

.task13 .bigger {
  height: 120px;
}

/* Task14 */

.task14 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.task14-1 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.task14-2 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.task14 .child {
  width: 150px;
}

.child2 {
  width: 300px;
}

.task14 .small {
  height: 100px;
}

.task14 .medium {
  height: 200px;
}

.task14 .big {
  height: 300px;
}

/* Task15 */

.task15 {
  flex-wrap: wrap;
}

.task15 .child {
  width: 150px;
}

.task15 .child2 {
  width: 200px;
}

.task15 .bigger {
  height: 150px;
}

/* Task16 */

.task16 {
  flex-wrap: wrap;
}

.task16-1 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.task16 .child {
  width: 150px;
}

.task16 .child2 {
  width: 600px;
}

.task16 .bigger {
  height: 200px;
}

.task16 .small {
  height: 100px;
}

/* Task17 */

.task17 {
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: column; */
}

.task17-1 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.task17-2 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.task17 .child {
  width: 150px;
}

.task17 .child2 {
  width: 300px;
}

.task17 .bigger {
  height: 600px;
}

.task17 .small {
  height: 150px;
}

/* Task18 */

.task18 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.task18 .child {
  width: 200px;
}

.task18 .bigger {
  height: 300px;
}

.task18 .small {
  height: 200px;
}

/* Task19 */

.task19 {
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: column; */
}

.task19-1 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.task19 .child {
  width: 100px;
}

.task19 .child2 {
  width: 200px;
}

.task19 .child3 {
  width: 400px;
}

.task19 .big {
  height: 400px;
}

.task19 .small {
  height: 100px;
}

.task19 .medium {
  height: 200px;
}

/* Task20 */

.task20 {
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: column; */
}

.task20 .child {
  width: 150px;
}

.task20 .small {
  height: 200px;
}
